@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    background: #055b62;
    color: #fff;
}

.conteiner {
    width: 1280px;
    margin: 0 auto;
}

.top_menu img {
    width: 50px;
    height: 50px;
    
}

.menu_list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu_item a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.introduction {
    margin-top: 100px;

}

.greeting, .name, .subtitle, .description {
    margin-bottom: 30px;

}

.check {
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.about .conteiner {
    display: flex;
    margin-top: 100px;
    
}

.about h2 {
    margin-bottom: 30px;

}

.about p {
    margin-bottom: 15px;
    
}

.about_left, .about_right {
    flex: 1;

}

.about_right {
    display: flex;
    justify-content: center;

}

.about_right img {
    width: 60%;
    margin: auto;

}

.skill {
    border: 1px solid #fff;
    height: 30px;
    margin-bottom: 10px;
    
}

.skill_item {
    width: 70%;
    background-color: rgba(175, 150, 37, 0.866);
    color: #149aac;
    height: 30px;
    text-transform: uppercase;
    padding-left: 15px;
    line-height: 30px;
}

/* ----------- */

.work {
    margin-bottom: 400px;
}

.work_list {
    list-style: none;
}


/* Style the tab */
.tab {
  float: left;
  width: 150px;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(204, 204, 204, 0.2);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgba(204, 204, 204, 0.2);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border-left: none;
  height: 300px;
}

.tabcontent h3, 
.tabcontent p,
.tabcontent ul li {
    margin-bottom: 20px;
}

/* _______________________ */
#projects {
    margin-top: 200px;

}

.project_item {
    display: flex;
    gap: 50px;
    
}

.project_img, 
.project_discription {
    flex:1;

}

.project_img img {
    width: 100%;

}

.project_title {
    margin-bottom: 50px;

}

.tools {
    display: flex;
    gap: 20px;

}

.project_item_title, project_subtitle, project_text {
    margin-bottom: 20px;
}